<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack It Up</title>
    <link rel="stylesheet" href="stylesheets/tw.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
</head>
<body>
    <div id="root">
        <div class="landing">
            <div class="opq"></div>
            <div class="bgimg">
                <img id="bg"   src="images/h3.jpeg" alt="">
            </div>
            <div class="top-h flex flex-col w-full h-fit p-2">
                <div class="title-block w-full grid grid-cols-[60%_auto] p-3 font-[Metropolis] text-4xl font-[800]">
                    <div class="flex hmm">
                        <div class="w-[80%] text-[#285f53]">InnerGlow</div>
                    </div>
                    <div class="flex">
                        <div class="w-[90%] text-end">
                            <span class="w-fit pt-3 pb-3 pl-10 pr-10 bg-(--bg-h) text-center text-[60%] font-medium font-[DM_Sans] text-white rounded-[5px]">Sign In</span>
                        </div> 
                    </div>
                </div>
                <div id="header" class="header w-full flex justify-center p-2"></div>
                <div class="header-button w-3/5 pt-2 flex self-center justify-end"></div>
            </div>
            <div class="quote w-full h-full flex items-center justify-center font-[Metropolis] flex-col">
                <div class="w-fit flex flex-col relative">
                    <div class="w-fit text-6xl font-[800] flex flex-col">
                       <div class="text-center">
                        A rested mind dreams bigger.
                        </div> 
                        <div class="w-full flex justify-center text-[25%] font-[500] text-white pt-2">
                            Begin your journey to better mental health and well-being today. Discover expert tips and resources to support you every step of the way.
                        </div>
                        <div class="w-full flex justify-end text-[30%] pt-10">
                            <span class="lm p-4 flex justify-center items-center font-[400]">
                                Learn more
                            </span>
                        </div>
                    </div >
                    
                </div>
            </div>
        </div>
        <div class="l2 flex w-full h-[400px] justify-center items-center" id="l2">
        </div>
    </div>
    <script src="javascripts/bundles/homepage/homepage.bundle.js"></script>

</body>
</html>